In [1]:
import pandas as pd
import numpy as np

In [11]:
filepath =".././data/2022-05-24 11.36.00/"
people_trips_df = pd.read_csv(filepath + 'people_trips_11_36_46.csv')
people_trips_df

,Cycle,Time,Traditional Scenario,Num Autonomous Bikes,Num Scooters,Num Conventional Bikes,Num Dockless Bikes,Agent,Trip Served,Mode,Wait Time (min),Departure Time,Arrival Time,Duration (min),Home [lat],Home [lon],Work [lat],Work [lon],Distance (m)
0,1819,06:00:38,True,0,0,0,75,people0,True,0,0.933333,05:43:58,06:00:38,16.666667,-71.079357,42.371920,-71.095807,42.356683,2168.069906
1,1952,06:05:04,True,0,0,0,75,people1,True,0,3.700000,05:54:44,06:05:04,10.333333,-71.082487,42.367713,-71.092017,42.359683,1188.165884
2,2713,06:30:26,True,0,0,0,75,people2,True,0,3.366667,06:26:24,06:30:26,4.033333,-71.087654,42.363253,-71.090449,42.359558,470.591332
3,3154,06:45:08,True,0,0,0,75,people3,True,0,3.300000,06:38:20,06:45:08,6.800000,-71.087794,42.361780,-71.079153,42.364895,791.435983
4,3211,06:47:02,True,0,0,0,75,people4,True,0,0.900000,06:38:56,06:47:02,8.100000,-71.079486,42.371956,-71.091640,42.368405,1075.902665
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,31515,22:30:30,True,0,24,49,75,people395,True,0,3.533333,22:25:34,22:30:30,4.933333,-71.093117,42.363370,-71.086154,42.367273,718.980773
396,31766,22:38:52,True,0,24,49,75,people396,True,0,2.333333,22:32:22,22:38:52,6.500000,-71.090588,42.369751,-71.083741,42.364960,775.400458
397,32248,22:54:56,True,0,24,49,75,people397,True,0,2.033333,22:52:04,22:54:56,2.866667,-71.084842,42.364135,-71.081729,42.367903,490.834863
398,33169,23:25:38,True,0,24,49,75,people398,True,0,3.466667,23:17:30,23:25:38,8.133333,-71.085716,42.360176,-71.076793,42.369553,1274.776077
399,33191,23:26:22,True,0,24,49,75,people399,True,0,1.166667,23:19:12,23:26:22,7.166667,-71.081007,42.368047,-71.087473,42.364373,671.013100

In [12]:
dockless_trips_df = pd.read_csv(filepath + 'docklessBike_trip_event11_36_46.csv')
dockless_trips_df

,Cycle,Time,Traditional Scenario,Num Autonomous Bikes,Num Scooters,Num Conventional Bikes,Num Dockless Bikes,Agent,Event,Activity,Message,Start Time,End Time,Duration (min),Distance Traveled,Start Battery %,End Battery %,Battery Gain %
0,0,05:00:00,True,75,0,0,75,docklessBike0,START: wandering,nil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,05:00:00,True,75,0,0,75,docklessBike1,START: wandering,nil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,05:00:00,True,75,0,0,75,docklessBike2,START: wandering,nil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,05:00:00,True,75,0,0,75,docklessBike3,START: wandering,nil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,05:00:00,True,75,0,0,75,docklessBike4,START: wandering,nil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2470,32976,23:19:12,True,0,24,49,75,docklessBike22,START: in_use_people,In Use people[399],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2471,33157,23:25:14,True,0,24,49,75,docklessBike22,END: in_use_people,1,Usedpeople[399],23:19:12,23:25:14,6.033333,0.0,nil,nil,nil
2472,33158,23:25:16,True,0,24,49,75,docklessBike22,START: wandering,nil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2473,33167,23:25:34,True,0,24,49,75,docklessBike44,END: in_use_people,1,Usedpeople[398],23:17:30,23:25:34,8.066667,0.0,nil,nil,nil
2474,33168,23:25:36,True,0,24,49,75,docklessBike44,START: wandering,nil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
dockless_trips_df.dropna(inplace = True)
dockless_trips_df

,Cycle,Time,Traditional Scenario,Num Autonomous Bikes,Num Scooters,Num Conventional Bikes,Num Dockless Bikes,Agent,Event,Activity,Message,Start Time,End Time,Duration (min),Distance Traveled,Start Battery %,End Battery %,Battery Gain %
75,1292,05:43:04,True,0,0,0,75,docklessBike31,END: wandering,1,nil,05:00:00,05:43:04,43.066667,0.0,nil,nil,nil
77,1318,05:43:56,True,0,0,0,75,docklessBike31,END: blocked,1,Blocked for people[0],05:43:06,05:43:56,0.833333,0.0,nil,nil,nil
79,1532,05:51:04,True,0,0,0,75,docklessBike53,END: wandering,1,nil,05:00:00,05:51:04,51.066667,0.0,nil,nil,nil
81,1641,05:54:42,True,0,0,0,75,docklessBike53,END: blocked,1,Blocked for people[1],05:51:06,05:54:42,3.600000,0.0,nil,nil,nil
83,1817,06:00:34,True,0,0,0,75,docklessBike31,END: in_use_people,1,Usedpeople[0],05:43:58,06:00:34,16.600000,0.0,nil,nil,nil
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2465,32924,23:17:28,True,0,24,49,75,docklessBike44,END: blocked,1,Blocked for people[398],23:14:06,23:17:28,3.366667,0.0,nil,nil,nil
2467,32942,23:18:04,True,0,24,49,75,docklessBike22,END: wandering,1,nil,22:54:52,23:18:04,23.200000,0.0,nil,nil,nil
2469,32975,23:19:10,True,0,24,49,75,docklessBike22,END: blocked,1,Blocked for people[399],23:18:06,23:19:10,1.066667,0.0,nil,nil,nil
2471,33157,23:25:14,True,0,24,49,75,docklessBike22,END: in_use_people,1,Usedpeople[399],23:19:12,23:25:14,6.033333,0.0,nil,nil,nil
2473,33167,23:25:34,True,0,24,49,75,docklessBike44,END: in_use_people,1,Usedpeople[398],23:17:30,23:25:34,8.066667,0.0,nil,nil,nil